body {
    background: rgb(144, 76, 87);
}

.fill {
    background-image: url('https://source.unsplash.com/random/200x200');
    position: relative;
    height: 200px;
    width: 200px;
    top: 5px;
    left: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

h1 {
    color: white;
    font-size: 30px;
}

.empty {
    display: inline-block;
    height: 210px;
    width: 210px;
    margin: 10px;
    border: 3px solid rgb(116, 115, 115);
    background-color: white;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}